Checks: >
    -clang-analyzer-security.insecureAPI.*,
    -misc-no-recursion,
    bugprone-assert-side-effect,
    bugprone-branch-clone,
    bugprone-dynamic-static-initializers,
    bugprone-infinite-loop,
    bugprone-macro-parentheses,
    bugprone-macro-repeated-side-effects,
    bugprone-posix-return,
    bugprone-reserved-identifier,
    bugprone-signal-handler,
    bugprone-signed-char-misuse,
    bugprone-sizeof-expression,
    bugprone-suspicious-semicolon,
    bugprone-unused-return-value,
    misc-*,
    performance-*,
    readability-avoid-const-params-in-decls,
    readability-const-return-type,
    readability-duplicate-include,
    readability-inconsistent-declaration-parameter-name,
    readability-misleading-indentation,
    readability-non-const-parameter,
    readability-redundant-control-flow,
    readability-simplify-boolean-expr

CheckOptions:
  - key:   bugprone-not-null-terminated-result.WantToUseSafeFunctions
    value: false # Do not recommend _s functions

FormatStyle: "file"
HeaderFilterRegex: "*.h$"
WarningsAsErrors: ""
